{
  background-color: #f9b941;
}

@font-face {
        font-family: Luminari;
        src: url("./Fonts/Luminari.otf");
}

h1 {
        padding:20px;
        background-color:#f9b941;
        color:black;
        font-family:Luminari;
}

