.flex-container {
  display:flex;
  flex-wrap:wrap;
  background-color:#eb8f34;
  
}

.flex-container > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

head {
  font-family: 'Roboto', sans-serif;
  color: black;
  h1 {
  background-color: #FFAB73;
  color: black;
}
}

body {
  background-color: #FFAB73;
  color: black;

table {
  column-rule-color: #191970;
  line-rule-color: #191970;
  margin-left: 5000px;
  margin-top: 5000px;
  table-align: center;
}
}
